
@import "mixins";
@import "variables";

:host{
    display: block;
}

.section{
    width: 100%;
    padding: 50px 0;
}

.content{
    @include latime;
}

.title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 22px;
    font-family: 'Alkatra',cursive;
}

@media screen and (max-width:$max-width-break-point) {
    .title{
        font-size: 22px;
    }
    .section{
        padding: 25px 0;
    }
}