
<div class="footer">
    <div class="content">
        <div class="text">Copyright © 2023 LARISS BEAUTY CONCEPT. All rights reserved.</div>
        <div class="social-media">
            <a href="https://api.whatsapp.com/send?phone=40744496801&text=Buna%20ziua%20as%20dori%20o%20programare" target="_blank"><img class="icon" src="/assets/icon-wts.webp"></a>
            <a href="https://www.facebook.com/profile.php?id=100086413311474" target="_blank"><img class="icon" src="/assets/icon-fb.png"></a>
            <a href="https://www.instagram.com/larissbeautyconcept/" target="_blank"><img class="icon" src="/assets/icon-insta.webp"></a>
        </div>
    </div>
</div>
