
<div class="footer">
    <div class="content">
        <div class="text">Copyright © 2023 LARISS BEAUTY CONCEPT. All rights reserved.</div>
        <div class="social-media">
            <a href="https://api.whatsapp.com/send?phone=40744496801&text=Buna%20ziua%20as%20dori%20o%20programare" target="_blank"><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/640px-WhatsApp.svg.png"></a>
            <a href="https://www.facebook.com/profile.php?id=100086413311474" target="_blank"><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png"></a>
            <a href="https://www.instagram.com/larissbeautyconcept/" target="_blank"><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"></a>
        </div>
    </div>
</div>
