<app-nav-bar></app-nav-bar>
<app-heder></app-heder>
<app-section-with-title title="TEHNOLOGII INTELIGENTE">
    <div class="content-sec-a">
        <div class="left">
            <div class="title">OXYGENERA PRO</div>
            <div class="subtitle">Este un concept unic in tratamentele faciale, care inglobeaza 5 tehnologii revolutionare care pot fi mixate in cadrul unui tratament facial sau pot fi folosite individual pentru probleme specifice ale tenului.</div>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>Microdermoabraziunea cu particule de diamant</span> – exfoliaza pielea in profunzime sporind productia de colagen si elastina, ajuta la regenerarea celulara si imbunatateste starea generala a pielii, stimuleaza epiderma si circulatia sanguina, eliminand petele pigmentare si semnele de imbatranire.</p>
            <p>Conform specialistilor dermatologi, tratamentul facial prin microdermoabraziune este considerat a fi cel mai eficient tratament de curatare, reimprospatare si refacere a tenului disponibil in prezent.</p>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>Oxigen Hiperbaric</span> – oxigenul de puritate 98%, sub presiune, este introdus in cele mai profunde straturi ale pielii imbunatatind respiratia celulara si stimuland circulatia sangvina.</p>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>Mezoterapie virtuala</span> – penetreaza in profunzime principiile active, creste semnificativ permeabilitatea pielii atat pentru substante ionice cat si pentru substante nonionice si actioneaza asupra structurilor lipidice determinand deschiderea unor canaliculi transmembranare.</p>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>Radiofrecventa multipolara</span> – sporeste circulatia sangvina si productia de colagen, oferind pielii un aspect de lifting.</p>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>Photon Oxygen Mask cu infrared Soft Laser</span> – o masca cu lumina infrarosu si oxygen hyperbaric care imbunatateste activitatea celulara prin stimularea metabolismului celular. Accelereaza circulatia sangvina, reda tonusul si elasticitatea pielii, are un puternic efect anti-age reparand pielea in profunzime.</p>
        </div>
        <img class="photo" src="/assets/photo1.jpg">
    </div>
</app-section-with-title>
<app-section-with-title>
    <div class="content-sec-b">
        <img class="photo" src="/assets/photo2.jpg">
        <div class="right">
            <div class="title">Inovatie in domeniul REMODELARII CORPORALE</div>
            <div class="subtitle">Inovatie tehnologica in domeniul estetico-medical ce vine cu solutia perfecta pentru slabirea localizata cu ajutorul criolipolizei.Criolipoliza este cea mai eficienta terapie pentru eliminarea ireversibila a tesuturilor grase!</div>
            <div class="title">De ce este Cryomed EVO unic?</div>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>INOVAȚIE ÎN DOMENIUL REMODELĂRII CORPORALE</span> – ce combină tehnologia de Vacuum, Crioterapie și Infraroșu.</p>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>PATENT UNIC CRYO&HEAT</span> – echipament unic cu sistem de pre-încălzire tisulară cu infraroșu ce accelerează circulația sangvină și metabolismul, ajutând astfel la obținerea unui rezultat mult mai rapid.</p>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>4-6 ȘEDINȚE ÎN FUNCȚIE DE ZONA TRATATĂ</span> – rezultatele clinice au demonstrat că acest echipament poate remodela silueta eficient. Rezultatele inițiale pot fi văzute în 2-3 săptămâni de la primul tratament iar un efect dramatic va apărea în următoarele 2 luni când corpul va elimina în totalitate celulele grase distruse prin crioterapie.</p>
        </div>
    </div>
</app-section-with-title>
<app-section-with-title>
    <div class="content-sec-c">
        <div class="left">
            <div class="title">Ce reprezinta tehnologia HI-EMT si cum actioneaza?</div>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>HI–EMT</span> (High-Intensity Electromagnetic Muscle Training – Antrenament Muscular Electromagnetic de Intensitate mare) este o tehnologie medicala care se utilizeaza in medicina estetica.</p>
            <p>Aceasta tehnologie foloseste campuri electromagnetice concentrate cu un nivel sigur de intensitate. Campurile electromagnetice patrund in corp si interactioneaza cu neuronii motori care ulterior provoaca contractii musculare intense.</p>
            <p>Tehnologia de ultima generatie pentru conturarea corpului, nu doar arde grasimea dar si construieste masa musculara. Mai mult, tratamentul nu necesita anestezie, incizii si nici nu provoaca disconfort.</p>
            <p>In timpul tratamentului pacientii pot sta pe spate relaxati in timp ce dispozitivul executa echivalentul a peste 20,000 de contractii musculare.</p>
        </div>
        <img class="photo" src="/assets/photo3.jpg">
    </div>
</app-section-with-title>
<app-section-with-title>
    <div class="content-sec-d">
        <img class="photo" src="/assets/photo4.jpg">
        <div class="right">
            <div class="title">SLABIRE INTENSIVA LIFTING & REVITALIZAREA si REACTIVAREA TESUTURILOR</div>
            <div class="subtitle">Eximia HR77 Platinum Annyversary este un concept tehnologic care contine toate secretele pentru a obtine idealuri de frumusete, un sistem unic care ofera solutii diferite pentru fiecare tip de imperfectiune estetica a corpului.Revolutioneaza tehnicile de slabire profesionala non-invazive si incorporeaza terapii de ultima generatie in estetica faciala.</div>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>Low Level Laser si Multiporatie</span> cu o lungime a undelor adecvata, laserul este capabil sa actioneze asupra stratului adipos fara a afecta tesuturile din jur, avand drept obiectiv indepartarea tesutului adipos in exces intr-o maniera eficienta si nedureroasa <span class="text">(1 - 6cm/sedinta)</span>.</p>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>Microdermoabraziunea</span> cu particule de diamant - folosita atat in tratamentele corporale pentru exfolierea in profunzime cat si in tratamentele faciale.Trateaza cicatricile post acneice, petele pigmentare si ridurile.Vacuum-ul incorporat asigura o mult mai buna oxigenare a tesuturilor si redefinire conturului facial.</p>
            <p><span class="text"><span class="material-symbols-outlined icon">check_small</span>Radiofrecventa multipolara</span> cu o putere de 50W si o frecventa de 0.4 - 1 Mh, activeaza fibroblastele si ajuta la redobandirea fermitatii pielii, tratarea vergeturilor si creaza un efect de lifting instant la nivel facial.</p>
        </div>
    </div>
</app-section-with-title>
<app-section-with-title title="PRETURI & OFERTE">
    <div class="prices">
        <app-technologies-card class="card" *ngFor="let p of priceServices.prices" [photo]="p.photo"></app-technologies-card>
    </div>
</app-section-with-title>
<a href="https://api.whatsapp.com/send?phone=40744496801&text=Buna%20ziua%20as%20dori%20o%20programare"><div class="button">FA-TI O PROGRAMARE</div></a>
<app-footer></app-footer>
