
<div class="bar">
    <div class="content">
        <div>
            <img class="logo" src="/assets/logo1.jpg">
            <div class="program">LUNI - VINERI: 09:00 - 18:00 <br>SAMBATA: 09:00 - 14:00</div>
        </div>
        <div class="contact">
            <div class="phone"><span class="material-symbols-outlined icon">call</span><a href="tel:0744496801">0744 496 801</a></div>
            <div class="email"><span class="material-symbols-outlined icon">mail</span><a href="mailto:denisa.seica85@gmail.com">denisa.seica85@gmail.com</a></div>
        </div>
    </div>
</div>
